#title
{border:  yellow;
padding: 200px rgb(37, 196, 130);
border: 100px;
color: red;
text-align: right;
background: rgba(255, 0, 0, 0.151);}

*{font-family: sans-serif;
background:rgb(57, 124, 165);}



.flex-container 
{display: flex;}

.flex-container a
{background:peachpuff;
border: 4px solid brown;
height: auto px;
text-align: center;
flex: 1;}

.set1
{color: blueviolet;
font-size: x-large;
border: 6px solid orange}

.flexpics
{border: 20px solid rgba(255, 0, 0, 0.26); align-content: center;}


p{background: rgb(162, 223, 218);}